* {
  box-sizing: border-box;
}

/* Style the header */
header {
  font-family: 'Abril Fatface', cursive;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

body {
  font-family: 'Caladea', serif;
}

.navbar-brand {
  padding: 20px;
  text-align: center;
  font-size: 30px
}


.jumbotron {
  margin: 50px;
  padding: 20px;
  background-color: lightblue;
  height: 10%;
  width: 80%;
}

.container {
  background-color: lightblue;
  margin: 50px;
  padding: 30px;
  display: inline-block;
}

.websiteLink {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

.media {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  padding-top: 20px;
  background-color: #F8F9FA;
  color: black;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}


